@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(255, 11, 11, 0.2));
    font-size: 40px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #ffc107;
    text-transform: uppercase;
    animation: waviy 1s forwards;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }


.animate{
  animation: animi 3s infinite ;
}
@keyframes animi {
  0%,40%,100%{
    transform: translateY(-20);
  }
  20%{
    transform: translateY(-30px);
  }
}



